body {
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 1.4;
    color: #eeeeee;
    background-color: #20232c;
    max-width: 65em;
}

div .title {
    font-weight: bold;
}

div .author {
    font-style: italic;
}

div .content {
    line-height: 1.6;
}
